<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - СибГИУ SSO</title>
    <link href="~/css/errors.css" rel="stylesheet" />
</head>
<body>
    <main class="main" id="main">
        @RenderBody()
    </main>
</body>
</html>
